{
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "jsdocDescriptionWithDot": true,

  "jsdocDescriptionTag": true,
  "jsdocVerticalAlignment": true,
  "jsdocSingleLineComment": false,
  "jsdocSeparateReturnsFromParam": true,
  "jsdocSpaces": 1,
  "plugins": ["prettier-plugin-jsdoc"],
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "plugins": []
      }
    }
  ]
}
